#maphelper {
    z-index: 9;
    display: block;
    font-size: 30px;
    height: 3px;
    transition: 400ms;
}
#map{
    height: 440px;
    width: 700px;
    z-index: 4;
    margin: 0 auto;
}
nav{
    display: block;
    position: relative;
    text-align: center;
    width: 662px;
    padding: 10px;
    border: 2px solid white;
    margin: auto;
    border-radius: 2px;
}
body{
    background-color: #ebefc9;
    font-family: "Roboto Slab";
}
header{
    margin: -8px;
    margin-bottom: 10px;
    padding: 4.5px;
    font-size: 15px;
    background-color: black;
    color: #ebefc9;
    text-align: center;
}
header em{
    float: right;
    font-style: normal;
    margin-right: 15px;
    font-weight: 700;
}
header em:hover{
    color: #d5de8e;
}
table{
    position: absolute;
    right: 0;
    top:0;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 2px;
}
td{
    background-color: white;
    padding: 3px;
    color: #ebefc9;
    opacity: .8;
    user-select: none;
    font-weight: 300;
    width: 55px;
    transition: 400ms;
}
td.sel{
    opacity: 1;
    background-color: #292b1a;
}
table:focus{
    outline: ;
}
header strong{
    font-weight: 300;
    font-size: 12px;

}
header input{
    border: none;
    font-size: 16px;
    color: white;
    font-family: "Courier New";
    vertical-align: middle;
    background-color: transparent;
    font-weight: 700;
    padding-left: 5px;
    width: 390px;
}
header input:focus{
    outline: none;
}
main div{
    width: 250px;
    padding: 5px;
    float: left;
    margin: 5px;
    border-radius: 2px;
}
.R{
    background-color: #cc5555;
}
.D{
    background-color: #5555cc;
}
.I{
    background-color: #55cc55;
}
main{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 12px;
}
main strong{
    color: white;
    font-weight: 500;
}
main span{
    font-size: 25px;
    font-weight: 300;
    clear: both;
    display: block;
    text-align: center;
}
main div img{
    filter: invert(80%);
    height: 25px;
    opacity: .8;
}
main div a:hover img{
    filter: invert(90%);
}
main div img.link:hover{
    filter: invert(100%);
}
main div img.link{
    float:right;
}
i{
    font-style: normal;
}