#maphelper {
    z-index: 9;
    display: block;
    font-size: 30px;
    height: 3px;
    transition: 400ms;
}
#map{
    height: 440px;
    width: 700px;
    z-index: 4;
    margin: 0 auto;
}
nav{
    display: block;
    position: relative;
    text-align: center;
    width: 662px;
    padding: 10px;
    border: 2px solid white;
    margin: auto;
}
body{
    background-color: #ebefc9;
    font-family: "Roboto Slab";
}
header{
    margin: -8px;
    margin-bottom: 10px;
    padding: 4.5px;
    font-size: 15px;
    background-color: black;
    color: #ebefc9;
    text-align: center;
}
header em{
    float: right;
    font-style: normal;
    margin-right: 15px;
    font-weight: 700;
}
header em:hover{
    color: #d5de8e;
}
table{
    position: absolute;
    right: 0;
    top:0;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}
td{
    background-color: white;
    padding: 3px;
    color: #ebefc9;
    opacity: .8;
}
td.sel{
    opacity: 1;
    background-color: #292b1a;
}
table:focus{
    outline: ;
}
